*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:#740938;
    color:beige ;
    line-height:1.3;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
                                             

.container{
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color:#CC2B52 ;
    padding: 10px;
    border-right: 2px bisque solid ;
    height: 100vh;
   
}
.image1{
    height:100px;
    width:100px;
    border-radius:80px;
   
}
.profile{
    padding:20px;
    text-align: center;
    margin-bottom:20px;
}
.profile h2{
    font-weight:700;
    margin-bottom: 10px;
    color: #470421;
    font-family: 'TT Nooks Script Trial', sans-serif;
    font-family: 'TT Nooks Trial', sans-serif;
    font-size:30px;
}
.profile h4{
    font-weight: 500;
    font-size:20px;
    color: #740938;
    font-family: 'Major Mono Display', sans-serif;   
    font-weight: bolder;  
     
       
}
.navbar{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    
}
.navbar a{
    text-decoration: none;
    color: beige;
    padding: 10px;
    font-size: 25px;
    border-radius: 15px;
    display: flex;
    gap: 10px;
    
}
.navbar a:hover{
    background-color: #DE7C7D;
    color: #470421;
    transition: 0.4s ease;
}
.main-content{
    padding: 30px;
}
.header{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom: 15px;
    margin-top: 0;
   
                                                
  
}
.searchbar{
    display: flex;
    gap:10px;
    
}
.searchbar input{
    width:300px ;
    border-radius: 80px;
    padding: 10px 15px;
    border: 2px solid #AF1740;
    background-color:#740938;
    padding: 10px;
    font-size: larger;
    border-color: #CC2B52;
    }

.searchbar img{
    height: 35px;
    width: 35px;
}
.buttonicon{
    background: none;
    border: none;
}
.buttonicon:hover{
    cursor: pointer;
}
.searchbar input{
    background-color:#740938;
    padding: 10px;
    font-size: larger;
    border-color: #CC2B52;
}
.searchbar input:hover{
    background-color:#CC2B52 ;
    color: beige;
    border: #DE7C7D;
}
.reelbutton{
    background-color:#DE7C7D;
    color: beige;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: #470421;
    font-family: 'Droid Sans Mono', sans-serif;
    font-size:large;
    text-align: centers;
}
.reelbutton:hover{
    background-color:#CC2B52 ;
    color: beige;
    border: #DE7C7D;
}

.social{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    width: 700px;
    margin-left: 50px;   
    
}
.social img{
    height: 40px;
    width: 40px;   
}
.stats{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    margin-bottom:15px;
    
}
.stat-card{
    background-color:#CC2B52 ;
    width: 25%;
    padding: 20px;
    font-size: 20px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 5px;
    transition: 0.3s ease;
}
.stat-card:hover{
    transform: translateY(-6px);   
}
.stat-card h3{
    font-size: 20px;
    margin-bottom: 8px;
}
.stat-card p{
    font-size: 15px;
}
.skills-section{
    background-color:#AF1740 ;
    padding: 30px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.skills-section h2{
    margin-bottom: 15px;
}

.skills{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
progress{
    width: 100%;
    height: 7px;
    border-radius: 20px;
}
progress::-webkit-progress-bar{
    background-color: bisque;
    border-radius: 10px;
}
progress::-webkit-progress-value{
    background-color: #740938;
    border-radius: 10px;
}
.Masterpieces {
    background-color: #CC2B52;
    border-radius: 20px;
    padding: 32px;
}

.Masterpieces h2 {
    font-family: 'Droid Sans Mono', sans-serif;
    margin-bottom: 20px;
}

.Mpeices {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
    justify-content: space-between;
    align-items: center;
}

.masterpiece-item {
    background-color: #AF1740;
    padding: 20px;
    border-radius: 15px;
    flex: 1 1 calc(30% - 20px);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: beige;
    font-family: 'Droid Sans Mono', sans-serif;
    width: 30%;
    height: fit-content;
}

.masterpiece-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

.masterpiece-item p {
    font-size: 16px;
    margin-bottom: 20px;
    text-align: center;
    
    
}
.masterpiece-item:hover {
    transform: translateY(-6px);
    transition: 0.3s ease;
}
.Mpeices .left-text {
    font-size: 16px;
    font-weight: bold;
    color: beige; 
    margin-left: 1px;
    font-family: 'HvDTrial Brandon Grotesque Cond', sans-serif;
    
}

.Mpeices .right-button  button{
    background-color: #740938;
    color: beige;
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    margin-right: 40px;
    margin-left: 5px;
    font-family: 'HvDTrial Brandon Grotesque Cond', sans-serif;
    height: 40px;
    width: fit-content;
    margin-inline-start: 1px;
}

.skills-section h2{
    font-family: 'Droid Sans Mono', sans-serif;
                                                
}
.header h1{
    font-family: 'amoera', sans-serif;
    letter-spacing: 1.2px;
}
.stats h3{
    font-family: 'Droid Sans Mono', sans-serif;                                              
}
.right-button a {
    text-decoration: none;
}







